# Agent environment variables
OPENAI_API_KEY=
AGENT_PORT=
ORS_API_KEY=
DATABASE_URL=
DATABASE_DIRECT_URL=

# LangSmith Tracing
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_ENDPOINT=